<!DOCTYPE html>

<html>
    <head>
        <title>Laberinto Multijugador</title>
        <!-- Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="controller.js"></script>
        <script src="seedrandom.js"></script>


        <!-- Local scripts -->
        <script src="maze.js"></script>
        <script src="userinput.js"></script>
        <script src="app.js"></script>
        <script src="chat.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
        <link rel="stylesheet" href="css/general.css" />
        <link rel="stylesheet" href="css/chat.css" />
        <link rel="stylesheet" href="css/maze.css" />
        <link rel="stylesheet" href="css/roomSelection.css" />
        <link rel="stylesheet" href="css/loading.css" />
        <link rel="stylesheet" href="css/waiting.css" />
        <link rel="stylesheet" href="css/main.css" />

        <link href="img/favicon.ico" rel="icon" type="image/x-icon" />
    </head>

    <body ng-app="multimaze">
        <div id="overlay" ng-controller="customRoomController as roomCtrl">
            <div id="ui" class="hoverbox">
                <h3>Laberinto Multijugador</h3>
                <form name="customRoom" ng-submit="customRoom.$valid && roomCtrl.join()" novalidate>
                    <div id="user-data">
                        <input type="text" ng-model="roomCtrl.request.username" placeholder="Nombre de usuario" maxlength="10" input-restricted/>
                        <input type="text" ng-model="roomCtrl.request.id" placeholder="ID de la sala ( Opcional )" maxlength="10" input-restricted/>
                    </div>
                    <div id="diff">
                        <input type="radio" id="diff-easy" class="form-button" ng-model="roomCtrl.request.diff" value="easy" />
                        <label for="diff-easy">Facil</label>
                        <input type="radio" id="diff-med" class="form-button" ng-model="roomCtrl.request.diff" value="medium" />
                        <label for="diff-med">Medio</label>
                        <input type="radio" id="diff-hard" class="form-button" ng-model="roomCtrl.request.diff" value="hard" />
                        <label for="diff-hard">Dificil</label>
                    </div>
                    <input type="submit" id="button-submit" ng-disabled="customRoom.$invalid" value="Jugar" />
                </form>
            </div>

            <div class="hoverbox" id="loader">
                <div>
                    <div id="loaderTop"></div>
                    <div id="loaderBottom"></div>
                    <div id="loaderLine"></div>
                </div>
                <h3>Cargando...</h3>
            </div>
        </div>

        <div id="main">
            <div id="left">
                <div id="waiting">
                    <h3>Esperando por un oponente...</h3>
                </div>
            </div>
            <div id="chat" ng-controller="chatController as chatCtrl">
                <div id="room-info">
                    <p id="room-id"></p>
                    <p id="room-username"></p>
                    <p id="room-score"></p>
                    <p id="room-diff"></p>
                </div>
                <div id="chatlog">
                </div>
                <form name="chatform" ng-submit="chatform.$valid && chatCtrl.sendMessage()" novalidate>
                    <span>
                        <input type="text" ng-model="chatCtrl.msg" placeholder="Ingrese sus mensajes aqui" maxlength="200" required/>
                    </span>
                    <input type="submit" value="Enviar" />
                </form>
            </div>
        </div>

    </body>

</html>
