/* Credit to Fabrizio Bianchi (https://codepen.io/fbrz/pen/uBjKn) */

#loader {
    display:none;
}
#loader > div {
    animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;
    height: 40px;
    width: 40px;
    margin: auto auto;
}

@keyframes loader {
    90% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

#loaderTop {
    animation: top 5s linear infinite;
    border-top: 20px solid #f00;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform-origin: 50% 100%;
}

@keyframes top {
    90% { transform: scale(0); }
    100% { transform: scale(0);}
}

#loaderBottom {
    animation: bottom 5s linear infinite;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f00;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform: scale(0);
    transform-origin: 50% 100%;
}

@keyframes bottom {
    10% { transform: scale(0); }
    90% { transform: scale(1); }
    100% { transform: scale(1); }
}

#loaderLine {
    animation: line 5s linear infinite;
    border-left: 1px dotted #f00;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 20px;
    left: 20px;
}

@keyframes line {
    10% { height: 20px; }
    100% { height: 20px; }
}
